__pycache__/
/evaluation/**/tmp/*
tmp/**/*
!tmp/**/.gitkeep
/preset/**/initial/
/preset/**/gen*/
/preset/**/stamps/
/preset/testgengif/gifdec/*
!/preset/testgengif/gifdec/*.c
!/preset/testgengif/gifdec/*.h
!/preset/testgengif/gifdec/README
MARK
best*
.antlr/
/evaluation/isla_adapt/g4/*
!/evaluation/isla_adapt/g4/*.g4
!/evaluation/isla_adapt/g4/LexerAdaptor.py
!/evaluation/isla_adapt/g4/__init__.py
launch.json
.bisect
/evaluation/workdir/**/*
!/evaluation/workdir/*.py
!/evaluation/workdir/*.xsh
!/evaluation/workdir/*.toml
*.swp
*.o
*.out
/evaluation/results/**/*.pdf
/evaluation/results/**/*.svg
/evaluation/fr_adapt/workdir/*
!/evaluation/fr_adapt/workdir/.gitkeep
!/evaluation/fr_adapt/workdir/*.py
/evaluation/inputgen/workdir/
.afl-showmap*
x_*.py
x_*.sh
.DS_STORE
target/

plot/data/*
!plot/data/.gitkeep
plot/fig/*
!plot/fig/.gitkeep

plot/table/*
!plot/table/.gitkeep
/extradata/*
!/extradata/.gitkeep
